%p Step 1
%p Select the room you wish to book:
%p cookie glass etc

%p Step 2
%p Select the day you wish to view availability for:

#calendar

%p Step 3
%p If available, click to book your slot!

- @rooms.each do |x|
  %br
  = 'This is the room **********'
  %br
  = x[0]
  %br
  - x[1].each do |x|
    %br
    = 'this is the day -------'
    %br
    = x[0]
    %br
    - x[1].each do |x|
      %br
      = 'this is the slot'
      %br
      = x[0]
      = x[1]
      %br

/ # - @bookings_array.day.each do |x|
/ #   .day_slots_container

/ #  %table
/ #   %tr
/ #     %th Time
/ #     %th Available?

/ #   - @bookings_array.day.slot.each do |booking|
/ #     %tr
/ #       %td= slot.name
/ #       %td= slot.booking
