%p#notice= notice

%p
  %b User:
  = @booking.user_id
%p
  %b Booking slot:
  = @booking.slot
%p
  %b Date:
  = @booking.date
%p
  %b Other:
  = @booking.room

= link_to 'Edit', edit_booking_path(@booking)
\|
= link_to 'Back', bookings_path
