/ %p=  @users.to_sql
%table.table
  %thead
    %th= sort_link @q, :formatted_name, {}, :method => action_name == 'advanced_search' ? :post : :get
    %th= sort_link @q, :company, {}, :method => action_name == 'advanced_search' ? :post : :get
    %th= sort_link @q, :skill, {}, :method => action_name == 'advanced_search' ? :post : :get

  %tbody
    - @skills.limit(5).each do |skill|
      %tr
        %td= link_to(skill.full_profile.user.basic_profile.formatted_name, html_options = {:action => 'show', :id => current_user.id})

        %td= skill.full_profile.positions.first.company
        %td
          - skill.full_profile.skills.each do |skill|
            = skill[:skill] + ','


/ # = skill.full_profile.user.basic_profile.formatted_name