/ %p=  @users.to_sql
%table.table
  %thead
    %th.table_name= sort_link @q, :name, {}, :method => action_name == 'advanced_search' ? :post : :get
    %th.table_company= sort_link @q, :company_name, {}, :method => action_name == 'advanced_search' ? :post : :get
    %th.table_skills= sort_link @q, :skill, {}, :method => action_name == 'advanced_search' ? :post : :get

  %tbody
    - @skills.sort_by{|x| x.full_profile.user.email}.each do |skill|
      %tr
        %td
          %p.bold= link_to skill.full_profile.user.basic_profile.formatted_name, user_path(skill.full_profile.user.id)
          %p= skill.full_profile.user.number

        %td
          %p= skill.full_profile.positions.first.company
          %p= skill.full_profile.user.email
        %td.better_font
          - skill.full_profile.skills.sort_by{|x| x.skill}.each do |skill|
            -  if @q.conditions.first
              - if @q.conditions.first.values.first.value == skill[:skill]
                %span{ :style => "font-weight: 700; color: #373737"}= skill[:skill] + ','
              - else
                = skill[:skill] + ','