/ %p=  @users.to_sql
%table.table
  %thead
    %th= sort_link @q, :formatted_name, {}, :method => action_name == 'advanced_search' ? :post : :get
    %th= sort_link @q, :company, {}, :method => action_name == 'advanced_search' ? :post : :get
    %th= sort_link @q, :skill, {}, :method => action_name == 'advanced_search' ? :post : :get

  %tbody
    - @skills.each do |skill|
      %tr
        %td= skill.full_profile.user.basic_profile.formatted_name
        %td= skill.full_profile.positions.first.company
        %td
          - skill.full_profile.skills.each do |skill|
            = skill[:skill] + ','
