%h1 Skill search

= search_form_for @q do |f|
  %p
    = f.label :skill_cont
    = f.text_field :skill_cont
  %p
    = f.submit

%table
  %tr
    %th First header
    %th Second header
    %th Third header
  - @users.each do |user|
    %tr
      %td= user.email
      %td
        - user.full_profile.skills.each do |skill|
          = skill[:skill]

%br


= render 'results'