#search_title
  %h2 Search

%br

#search_content
  = search_form_for @q, url: search_skills_path, html: { method: :post } do |f|
    = f.label :skill_start
    .first_search_container
      = f.text_field :skill_start
      = f.submit

%input


  #search_results
    = render 'results'