#search_title
  %h2 Search

%br

#search_content
  = search_form_for @q do |f|
    = f.label :skill_cont
    = f.text_field :skill_cont
    #display_results
      = f.submit

  #search_results
    = render 'results'