.row
  .span12
    .thumbnail
      %img{:src => @basic_profile.picture_url, :style => "float: left;margin: 5px;"}
        %h3= @basic_profile.formatted_name
        %h4= @basic_profile.headline
        %br
          %p
            .spacer.float_left= @basic_profile.location
            .spacer.float_left= @basic_profile.user.email
            .spacer= @basic_profile.user.number
          %p= @basic_profile.summary

.row{:style => "margin-top: 16px;"}
  - if current_user.mentor_search==true
    .span4
      .well
        %h5 Skills
        .makeopensans
          - @skills.each do |s|
            = s.skill
            = ","
    .span4
      .well
        %h5 Interests
        %p= @full_profile.interests
        %h5 Linkedin URL
        %a.wordwrap_me= @basic_profile.public_profile_url
        %br
        %h5 Connections
        %p
          = @basic_profile.num_connections
          - if @basic_profile.num_connections == 500
            = '+'
    .span4
      .well
        %h5 Mentor Stats
        %table.table
          %tr
            %td Angelist followers:
            %td
              = current_user.mentor_profile.num_angelist_followers
          %tr
            %td Twitter followers:
            %td
              = current_user.mentor_profile.num_twitter_followers
          %tr
            %td Mentor ranking:
            %td
              = current_user.mentor_profile.mentor_ranking
  - else
    .span6
      .well
        %h5 Skills
        .makeopensans
          - if @skills != nil
            - @skills.each do |s|
              = s.skill
              = ","
    .span6
      .well
        %h5 Interests
        %p= @full_profile.interests
        %h5 Linkedin URL
        %a.wordwrap_me= @basic_profile.public_profile_url
        %br
        %h5 Connections
        %p
          = @basic_profile.num_connections
          - if @basic_profile.num_connections == 500
            = '+'


/ .row{:style => "margin-top: 16px;"}
/   .span10
/     %h1 Positions
/     %table.table.table-striped
/       %tr
/         %th Title
/         %th Summary
/         %th Company Name
/         %th Is Current
/         %th Start Date
/         %th End Date
/       - @positions.each do |p|
/         %tr
/           %td= p.title
/           %td= p.summary
/           %td= p.company
/           %td= p.is_current
/           %td= p.start_date
/           %td= p.end_date
/ .row{:style => "margin-top: 16px;"}
/   .span10
/     %h1 Educations
/     %table.table.table-striped
/       %tr
/         %th School Name
/         %th Field of Study
/         %th Degree
/         %th Activities
/         %th Notes
/         %th Start Date
/         %th End Date
/       - @educations.each do |e|
/         %tr
/           %td= e.school_name
/           %td= e.field_of_study
/           %td= e.degree
/           %td= e.activities
/           %td= e.notes
/           %td= e.start_date
/           %td= e.end_date